.controlPanel {
	display: flex;
	border-bottom: 2px solid #444;
	height: 40px;
	padding: 10px;
}
.search {
	width: 100%;
}
.sortingButton {
	width: 23px;
	height: 23px;
	display: flex;
	justify-content: center;
	margin: 0 10px;
}
